@import "node_modules/bootstrap/scss/functions";
@import "core/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/utilities";

/* Color palette */

$light-gold: #ffcd59;
$dark-blue: #10384E;

/* Text styles */

/* Element styles */

/* Section styles */

html, body {
	min-height: 100%;
	background-image: linear-gradient(to top, #ffffff, #f2f2f2);
}
